<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665489748400-vkavatv94nhmtq3p8a9oduecf0a2k291.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665489748400-vkavatv94nhmtq3p8a9oduecf0a2k291</string>
	<key>API_KEY</key>
	<string>AIzaSyD_nF3nzbzq5xXzcaJXU3Nf8p2l20vgqyM</string>
	<key>GCM_SENDER_ID</key>
	<string>665489748400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henasys.app.booklover</string>
	<key>PROJECT_ID</key>
	<string>messaging-858a2</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-858a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665489748400:ios:247b712c84d7a2025ce675</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-858a2.firebaseio.com</string>
</dict>
</plist>